{% extends "Dmanage/layout.html" %}

{% block body %}
<div class="loginpage2">
    <h2 class="headingpage2">Log In</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="loginform" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group1">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div class="form-group2">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

   <div class="loginlast">
    <Pre class="loginlast2">Don't have an account : </Pre>
    <a href="{% url 'register' %}" class="linkloginlast">Register here.</a>
   </div>
</div>
{% endblock %}