{% extends "Dmanage/layout.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Reports</title>
</head>
<body>
    <div class="containerforreportlist">
    <h1 class="headinginreport">All Disaster Reports</h1>
    <ul class="listinreport">
        {% for report in reports %}
            <li class="listinsidereport"><div class="listinsidereportinner">
                <strong>{{ report.disaster_type }}</strong> at {{ report.location }}
                <p>{{ report.description }}
                    <br>
                <small>Reported on: {{ report.reported_at }}</small>
                </p>
            </div></li>
        {% endfor %}
    </ul>
   </div>
</body>
</html>
{% endblock %}
